{% extends 'auth/base.html' %}
{% from 'components/alerts.html' import alert_error, alert_success %}

{% block content %}
<div class="px-6 py-4">
    <h3 class="mt-1 text-xl font-medium text-center text-gray-600 dark:text-gray-200">Password Reset</h3>

    {% if session().has('error') %}
    <div class="flex w-full dark:bg-gray-800 mb-1 rounded-lg shadow-sm">
        {{ alert_error(session().get('error')) }}
    </div>
    {% endif %}
    {% if session().has('success') %}
    <div class="flex w-full dark:bg-gray-800 mb-1 rounded-lg shadow-sm">
        {{ alert_success(session().get('success')) }}
    </div>
    {% endif %}
    <form action="/password" method="POST">
        {{ csrf_field }}
        <div class="form-control mt-4">
            <label for="email" class="label"><span class="label-text">Email</span></label>
            <input type="text"
                class="input input-bordered dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:border-blue-500"
                name="email" placeholder="Email Address" aria-label="Email Address">
            {% if session().has('errors') %}
            {% for error in session().get('errors').get('email').items() %}
            <label class="label">
                <span class="label-text-alt alert alert-error alert-sm">{{ error }}</span>
            </label>
            {% endfor %}
            {% endif %}
        </div>

        <div class="flex items-center justify-between mt-4">
            <button class="btn btn-primary" type="submit">
                Send reset link
            </button>
        </div>
    </form>
</div>
{% endblock %}